# ICS 496 Project
## Data Preprocessing and Cleaning
Two data sources
Flight plans (XML)
Position Reports (SQL Lite)

Let's begin with the flight plans

In [1]:
import pandas as pd

In [2]:
# Load the CSV
df = pd.read_csv('flight_waypoints_output.csv')

# Get dimensions
rows, columns = df.shape

print(f"CSV has {rows} rows and {columns} columns.")

CSV has 557282 rows and 13 columns.

In [3]:
df.head()

,Commercial Flight Number,Departure Date,Departure Airport,Departure Time,Arrival Airport,Arrival Time,Waypoint Name,Latitude,Longitude,Altitude (ft),Wind Speed (kt),Temperature (C),Fuel On Board (lb)
0,HA1101,2025-01-31,ITO,2025-01-31T04:40:00Z,HNL,2025-01-31T05:25:00Z,PHTO,70992.0,-558174.1,NaN,0,0.0,13658
1,HA1101,2025-01-31,ITO,2025-01-31T04:40:00Z,HNL,2025-01-31T05:25:00Z,ITO,70998.0,-558042.0,NaN,43,NaN,13556
2,HA1101,2025-01-31,ITO,2025-01-31T04:40:00Z,HNL,2025-01-31T05:25:00Z,OKALA,72078.0,-558954.0,NaN,24,NaN,12605
3,HA1101,2025-01-31,ITO,2025-01-31T04:40:00Z,HNL,2025-01-31T05:25:00Z,TIGAH,72288.0,-559632.0,NaN,36,NaN,12298
4,HA1101,2025-01-31,ITO,2025-01-31T04:40:00Z,HNL,2025-01-31T05:25:00Z,UPP,72720.0,-561036.0,NaN,41,NaN,11722

In [5]:
# Example: Get unique values in the "Commercial Flight Number" column
unique_flights = df["Departure Date"].unique()

print("Unique Commercial Flight Numbers:")
print(unique_flights)

Unique Commercial Flight Numbers:
['2025-01-31' '2025-02-17' '2025-01-18' '2025-01-09' '2025-02-13'
 '2025-03-05' '2025-02-08' '2025-01-14' '2025-02-12' '2025-01-05'
 '2025-02-28' '2025-01-22' '2025-03-04' '2025-02-10' '2025-01-29'
 '2025-01-21' '2025-03-06' '2025-01-26' '2025-01-11' '2025-02-18'
 '2025-01-17' '2025-02-11' '2025-03-07' '2025-03-02' '2025-01-23'
 '2025-02-22' '2025-02-03' '2025-01-27' '2025-02-06' '2025-01-13'
 '2025-01-12' '2025-02-14' '2025-02-20' '2025-01-19' '2025-02-21'
 '2025-03-03' '2025-02-26' '2025-02-07' '2025-03-01' '2025-01-30'
 '2025-01-08' '2025-01-02' '2025-02-25' '2025-01-24' '2025-01-20'
 '2025-03-08' '2025-02-09' '2025-01-16' '2025-01-15' '2025-02-01'
 '2025-01-01' '2025-01-10' '2025-02-24' '2025-03-09' '2025-03-10'
 '2025-02-23' '2025-02-19' '2025-01-07' '2025-02-05' '2025-01-04'
 '2025-01-06' '2025-02-15' '2025-02-04' '2025-02-02' '2025-01-28'
 '2025-01-25' '2025-02-27' '2025-02-16' '2025-01-03']